<header class="modal-header">
    <div class="logo">北京卓越讯通舆情系统</div>
    <nav class="nav navbar navbar-top-links navbar-right mbn">
        <ul class="nav navbar-nav pull-right">
            <li><span class="typcn typcn-document-text"></span><span class="text">专报信息</span></li>
            <li><span class="typcn typcn-document"></span><span class="text">导控信息</span></li>
            <li>
                <span class="typcn typcn-bell dropdown-toggle" data-toggle="dropdown"></span>
                 <ul class="dropdown-menu" role="menu">
                  <li><a href="#">消息一</a></li>
                  <li class="divider"></li>
                  <li><a href="#">查看全部消息</a></li>
                 </ul>
            </li>
            <li>
                <span class="typcn typcn-cog-outline dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </span>
                 <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><span class="typcn typcn-eye"></span>关键词设置</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><span class="typcn typcn-edit"></span>自定义栏目设置</a></li>
                 </ul>
            </li>
            <li>
                <span class="typcn typcn-user dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </span>
                 <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><span class="typcn typcn-user-outline"></span>个人信息</a></li>
                  <li><a href="#"><span class="typcn typcn-th-large"></span>&nbsp;套餐信息</a></li>
                  <li class="divider"></li>
                  <li><a href="#">&nbsp;<span class="glyphicon glyphicon-question-sign"></span>&nbsp;帮助中心</a></li>
                  <li><a href="#"><span class="typcn typcn-power-outline"></span>&nbsp;退出系统</a></li>
                 </ul>
            </li>
        </ul>
    </nav>
</header>